.sign-in-container {
  position: absolute;
  top: 58px;
  right: 15px;
  /* transform: translate(-50%, -50%); Center the container both horizontally and vertically */
  background-color: var(--color-background);
  border-radius: 10px;
  /* border: 1px solid var(--color-accent-grey); */
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: white; */
  z-index: 1001;
  overflow: hidden;
  /* overflow: auto; */
  transition: width 0.3s, height 0.3s, opacity 0.3s, top 0.3s, right 0.3s;
}

.sign-in-container p{
  margin-top: 0;
  font-size: smaller;
}

.sign-in-container--active {
  width: 50vw;
  height: auto;
  max-width: 400px;
  max-height: 500px;
  opacity: 1; /* Show with full opacity */
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

.sign-in-container--hidden {
  width: 0;
  height: 0;
  opacity: 0;
}