.tree-info-drawer{
  position: absolute;
  justify-self: center;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 500px;
  background-color: var(--color-background);
  border-radius: 10px;
  z-index: 1001;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  transition: transform 0.3s ease-out;
  transform: translateY(100%);
  touch-action: pan-y;
}

.tree-info-drawer--show{
  transform: translateY(0);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

.tree-info-drawer__content{
  padding: 0em 0.8em 0.8em;
}

.ctrl-button-row{
  display: flex;
  gap: 0.6em;
  overflow-x: auto; /* Enable horizontal scrolling */
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.ctrl-button-row__btn{
  padding-right: 0.5em;
}

.add-tree-menu{
  /* height: 80vh; */
}